<!DOCTYPE html>
<html layout:decorate="~{shared/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link th:href="@{~/mastertemplate/jquery-ui-1.12.1.custom/jquery-ui.structure.css}" rel="stylesheet" type="text/css">
    <link th:href="@{~/mastertemplate/jquery-ui-1.12.1.custom/jquery-ui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{~/mastertemplate/css/custom-autocomplete.css}" rel="stylesheet" type="text/css">
    <style>
    .bottomcal {
        display: none;
        }
    </style>
</head>

<body>

    <div layout:fragment="content">
        <div class="col-lg-12">

            <div class="panel panel-hitam">
                <div class="panel-heading">
                    Edit <span th:text="${title}"></span>
                </div>
                <!-- /.panel-heading -->
                <div style="padding-left:0; padding-right:0; padding-top: 11px;" class="panel-body">
                    <div th:if="${data == null} ">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="tabeldetail">
                                <tbody>
                                    <tr>
                                        <td style="padding-left: 12px;">Data tidak ditemukan</td>
                                    </tr>

                                </tbody>
                            </table>
                            <table id="tabeltombol">
                                <tbody>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-default" id="btntambah">
                                                <i class="fa fa-arrow-left" aria-hidden="true" title="Back"></i>
                                                Back
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div th:if="${data != null} ">
                        <form id="form_data" class="form_data" autocomplete="off">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="tabeldetail">

                                    <tbody>
                                        <tr>
                                            <td class="label_caption">Nomor</td>
                                            <td>
                                                <input type="text" name="nomor" class="form-control inputsm" readonly id="txt_nomor" th:value="${data.nomor}">
                                                <input type="hidden" name="id" class="form-control inputsm" id="txt_id" th:value="${data.id}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label_caption">Tanggal</td>
                                            <td>
                                                <input type="date" name="tanggal" class="form-control inputsm" id="txt_tanggal" th:value="${data.tanggal}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label_caption">Customer</td>
                                            <td>
                                                <input type="text" class="form-control inputreg ui-autocomplete-input" id="txt_customer">
                                                <input type="hidden" class="form-control" id="txt_customerid" name="customer_id" th:value="${data.customerId}">
                                                <a href="javascript:void(0)" id="lbl_customer" style="">
                                                    <h5>[[${data.namaCustomer}]]</h5>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label_caption" style="vertical-align:text-top">Jml Bayar</td>
                                            <td style="vertical-align:middle">
                                                <div style="float:left; ">
                                                    <input type="text" name="jumlah" class="form-control inputreg input_angka_decimal" id="txt_jumlah" autocomplete="off" th:value="${#numbers.formatDecimal(data.jumlah,3,2,'COMMA')}">
                                                </div>
                                                <div style="float:left; margin-top: 10px; margin-left: 4px; margin-right: 4px;">
                                        
                                                </div>
                                                <div style="float:right; margin-top: -20px; margin-right: 4px;">
                                                    <h2  class="tdangka" id="lbl_jumlah">[[${data.jumlah}]]</h2>
                                                </div>
                                        
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label_caption">Keterangan</td>
                                            <td>
                                                <textarea class="form-control inputreg" rows="3" name="keterangan" th:text="${data.keterangan}"></textarea>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td colspan="2">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        Daftar Barang
                                                    </div>
                                        
                                                    <!-- /.panel-heading -->
                                                    <div style="padding-left:0; padding-right:0; padding-top: 0px;" class="panel-body">
                                                        <div th:if="${datadetail == null} ">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered table-hover" id="tabeldetail_d">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="padding-left: 12px;">Data tidak ada</td>
                                                                        </tr>
                                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div th:if="${datadetail != null} ">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped table-bordered table-hover" id="tabeldetail_d">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width:60px">No.</th>
                                                                            <th>No Invoice</th>
                                                                            <th>Tanggal</th>
                                                                            <th>Nilai Invoice</th>
                                                                            <th>Tagihan</th>
                                                                            <th width="12%">Bayar</th>
                                                                            <th>Keterangan</th>
                                                                            <th width="5%">#</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr class="list_invoice" th:each="dd,ii: ${datadetail}">
                                                                            <td class="tdnourut">[[${ii.index + 1} ]].</td>
                                                                            <td>[[${dd.nomorInvoice}]]</td>
                                                                            <td>[[${#dates.format(dd.tanggal, 'dd-MM-yyyy')}]]</td>
                                                                            <td class="tdangka">[[${dd.nilaiInvoice}]]</td>
                                                                            <td class="tdangka sisa_tagihan">[[${dd.jmlTagihan}]]</td>
                                                                            <td>
                                                                                <input type="text" class="form-control input_angka_decimal jml_bayar" name="jml_bayar[]" th:value="${#numbers.formatDecimal(dd.jmlBayar,3,2,'COMMA')}">
                                                                                <input type="hidden" name="jual_id[]" th:value="${dd.jualId}">
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" class="form-control keterangan" name="keterangan_detail[]" th:value="${dd.keterangan}" >
                                                                            </td>
                                                                            <td>
                                                                                <input type="checkbox" value="" class="cek_lunas" checked>
                                                                            </td>
                                                                        </tr>
                                                                        <tr id="tr_kosong" style="display: none;">
                                                                            <td colspan="7" style="text-align: center;">Tidak ada data</td>
                                                                        </tr>
                                                                        
                                                                        <tr id="tr_total" class="bottomcal" style="display: table-row;">
                                                                            <td class="label_caption" colspan="4">
                                                                                Total
                                                                            </td>
                                                                            <td class="tdangka" id="lbl_total_tagihan" th:text="${ datadetail == null ? 0 : #aggregates.sum(datadetail.![jmlTagihan])} ">
                                                                                0,00
                                                                            </td>
                                                                            <td class="tdangka" id="lbl_total" th:text="${ datadetail == null ? 0 : #aggregates.sum(datadetail.![jmlBayar])} ">
                                                                                0,00
                                                                            </td>
                                                                            <td>
                                                                                <b> Sisa Jumlah Bayar :</b> : <b id="lbl_sisa_jml_bayar">0,00</b>
                                                                            </td>
                                                                            <td>
                                                                            </td>
                                                                        </tr>
                                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                        
                                                    </div>
                                                    <!-- /.panel-body -->

                                                    <!-- <div class="panel-footer">
                                                                                                
                                                                                                                            </div> -->
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table id="tabeltombol">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-default btn_back" id="btn_back"
                                                    data-href="/pembayaran">
                                                    <i class="fa fa-arrow-left" aria-hidden="true" title="Back"></i>
                                                    Batal
                                                </button>
                                                <button type="button" class="btn btn-default" id="btn_save">
                                                    <i class="fa fa-download" aria-hidden="true" title="Save data"></i>
                                                    Save
                                                </button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.panel-body -->

                <!-- <div class="panel-footer">
        
                                    </div> -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <th:block layout:fragment="script">
        <script th:src="@{~/mastertemplate/js/jquery.serialize-object.min.js}"></script>
        <script th:src="@{~/mastertemplate/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
        <script th:src="@{~/mastertemplate/js/format.js}"></script>
        <script th:src="@{~/mastertemplate/js/jquery.number.js}"></script>
        <script th:inline="javascript">
            var id = [[${ data != null ? data.id : null}]];
        </script>
        <script>


            $(document).ready(function () {
                hitungtotal();
                $('#txt_customer').hide();

                $(".tdangka").each(function (i, ele) {
                    $(this).text(format("#.##0,#0", $(this).text()));
                });
                $("input.input_angka_decimal").number(true, 2);
                $('#txt_customer').autocomplete({
                    minLength: 2,
                    source: function (request, response) {
                        $.ajax({
                            url: "/sales_order/list_customer",
                            type: 'GET',
                            dataType: "json",
                            delay: 1000,
                            data: {
                                search: request.term
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    select: function (event, ui) {
                        $("#txt_customerid").val(ui.item.id);
                        $('#txt_customer').hide();
                        $("#lbl_customer").show();
                        $("#lbl_customer").html(`<h5>${ui.item.nama}</h5>`);
                        getInvoice(ui.item.id);
                        return false;
                    },
                    focus: function (event, ui) {
                        // $("#txt_customer").val(ui.item.nama);
                        // $("#txt_customerid").val(ui.item.id);
                        return false;
                    },
                })
                    .data("ui-autocomplete")._renderItem = function (ul, item) {
                        return $("<li></li>")
                            .data("item.autocomplete", item)
                            .append(`<a> <b>Kode:</b> ${item.kode} <b>Nama:</b> ${item.nama} <br> <b>Alamat:</b> ${item.alamat} </a>`)
                            .appendTo(ul);
                    };

                $('#lbl_customer').on('click', function () {
                    $("#txt_customerid").val("");
                    $('#txt_customer').show();
                    $('#txt_customer').val("");
                    $('#txt_customer').focus();
                    $("#lbl_customer").hide();
                    $("#lbl_customer").html();
                    $(".list_invoice").remove();
                    $("#tr_kosong").show();
                    $(".bottomcal").hide();
                });

                function getInvoice(customer_id) {
                    $.ajax({
                        url: "/pembayaran/list_invoice/" + customer_id + "/" +id,
                        type: 'GET',
                        dataType: "json",
                        delay: 1000,
                        success: function (data) {
                            let sub_total = 0;
                            let tanggal;
                            let total = 0;
                            let hasil;
                            for (let i = 0; i < data.length; ++i) {
                                tanggal = $.datepicker.formatDate('dd-mm-yy', new Date(data[i].tanggal));
                                total += data[i].sisa_tagihan;
                                hasil = `<tr class="list_invoice">
                                    <td class="tdnourut">${i + 1}.</td>
                                    <td>${data[i].nomor}</td>
                                    <td>${tanggal}</td>
                                    <td class="tdangka">${data[i].nilai_invoice}</td>
                                    <td class="tdangka sisa_tagihan">${data[i].sisa_tagihan}</td>
                                    <td>
                                        <input type="text" class="form-control input_angka_decimal jml_bayar" name="jml_bayar[]" value="0" readonly>
                                        <input type="hidden" name="jual_id[]" value="${data[i].id}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control keterangan" name="keterangan_detail[]" value="" readonly>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" class="cek_lunas">
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                `;
                                $("#tr_kosong").closest('tr').before(hasil);
                                $('.bottomcal').show();
                            }
                            $("#lbl_total_tagihan").text(total);
                            hitungtotal();

                            if (data.length > 0) {
                                $("#tr_kosong").hide();
                            }
                            $("input.input_angka_decimal").number(true, 2);
                            $(".tdangka").each(function (i, ele) {
                                $(this).text(format("#.##0,#0", $(this).text()));
                            });
                        }
                    });

                }


                $(document).on("keyup", ".jml_bayar", function () {
                    hitungtotal();
                });

                $(document).on("change", ".cek_lunas", function () {
                    let tr_row = $(this).closest('tr');
                    if ($(this).is(':checked')) {
                        tr_row.find(".jml_bayar").prop('readonly', false);
                        tr_row.find(".keterangan").prop('readonly', false);
                        tr_row.find(".jml_bayar").val(0);
                        let sisa_tagihan = convertToRawValue(tr_row.find(".sisa_tagihan").text());
                        if (parseFloat(sisa_tagihan) <= 0) {
                            alert("jumlah bayar sudah terpakai semua")
                            return false;
                        }
                        let sisa_jml_bayar = convertToRawValue($("#lbl_sisa_jml_bayar").text());
                        if (parseFloat(sisa_tagihan) > parseFloat(sisa_jml_bayar)) {
                            tr_row.find(".jml_bayar").val(sisa_jml_bayar);
                        } else {
                            tr_row.find(".jml_bayar").val(sisa_tagihan);
                        }
                    } else {
                        tr_row.find(".jml_bayar").prop('readonly', true);
                        tr_row.find(".keterangan").prop('readonly', true);
                        tr_row.find(".jml_bayar").val(0);
                    }

                    hitungtotal();
                });


                $(document).on("keyup", "#txt_jumlah", function () {
                    $("#lbl_jumlah").text(format("#.##0,#0", $(this).val()));
                    hitungtotal();
                });


                function hitungtotal() {
                    let tr_row = $(this).closest('tr');
                    let qty = 0;
                    let bayar = 0;
                    let total_bayar = 0;
                    let jumlah = $("#txt_jumlah").val();
                    $('.jml_bayar').each(function (i) {
                        bayar = $(this).val();
                        total_bayar += parseFloat(bayar);
                    });
                    let sisa_jml_bayar = parseFloat(jumlah) - total_bayar;
                    $("#lbl_sisa_jml_bayar").text(format("#.##0,#0", sisa_jml_bayar));
                    $("#lbl_total").text(format("#.##0,#0", total_bayar));

                }

                $(document).on("click", "#btn_save", function (e) {
                    e.preventDefault();

                    var value = $("#form_data").serializeJSON();

                    let sisa_jml_bayar = convertToRawValue($("#lbl_sisa_jml_bayar").text());
                    if (parseFloat(sisa_jml_bayar) < 0) {
                        alert("jumlah bayar tidak cukup");
                        return false;
                    }

                    $("#btn_save").prop("disabled", true);
                    $.ajax({
                        contentType: "application/json",
                        type: "PUT",
                        url: "/pembayaran/" + id,
                        data: value,
                        dataType: 'json',
                        success: function (res) {
                            alert(res.message);
                            $("#btn_back").click();
                        },
                        error: function (res) {
                            alert(res.responseJSON.message)
                        },
                        complete: function (res) {
                            $("#btn_save").prop("disabled", false);;
                        }
                    });
                });

                $('.btn_back').on('click', function () {
                    window.location.href = $(this).data('href');
                });

            });


        </script>
    </th:block>
</body>

</html>